/* src/components/PasswordStrengthChecker.css */

.strength-checker {
    position: relative;
    width: 100%;
}

.strength-bar-bg {
    height: 20px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 3px;
    overflow: hidden;
}

.strength-bar {
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.strength-data {
    opacity: 0;
}

.strength-data .active {
    color: green;
    font-weight: bold;
}

.criteria {
    margin-top: 20px;
}

.criteria p {
    margin: 0;
}

.input-password {
    width: 80%;
    /* or specify in pixels, e.g. 300px; adjust as needed */
    height: 40px;
    /* adjust as needed */
    padding: 5px 10px;
    /* adjust as needed */
    font-size: 16px;
    /* adjust as needed */
    margin: 10px 0;
    /* optional, for some space below the input */
    border: 1px solid #ccc;
    /* optional, for a border around the input */
    border-radius: 5px;
    /* optional, for rounded corners */
}

.too-weak {
    color: grey;
    /* or your desired color for 'Too Weak' */
}

.weak {
    color: red;
    /* or your desired color for 'Weak' */
}

.medium {
    color: orange;
    /* or your desired color for 'Medium' */
}

.strong {
    color: green;
    /* or your desired color for 'Strong' */
}
